.button {
    -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, #7761d9, #00d4df);
    -fx-background-radius: 100px;
    -fx-text-fill: white;
}
.button:hover{
    -fx-effect: dropshadow(gaussian, #00d4df, 1, 1, 1, 1);
}
.button:pressed{
    -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, #6046d2, #00aab3);
    -fx-background-radius: 100px;
    -fx-text-fill: white;
}
*.header-panel{
    -fx-font-family: Verdana;
    -fx-font-size: 15px;
}
.dialog-pane > .content.label{
    -fx-font-family: Verdana;
    -fx-font-size: 15px;
}